{% extends 'layout/base.html.twig' %}
{% import 'layout/macros/form_render.html.twig' as custome_form_render %}

{% block title %}
    Change password
{% endblock %}

{% block stylesheets %}
{% endblock %}
{%  block body %}
    <div class="container-fluid p-0">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    {{ form_start(passwordForm) }}
                    <div class="row d-flex justify-content-center">
                        <div class="col-6">
                            {{ custome_form_render.row_password(passwordForm.oldPassword, 'col-12 mt-3') }}
                            {{ custome_form_render.row_password(passwordForm.newPassword.first, 'col-12 mt-3') }}
                            {{ custome_form_render.row_password(passwordForm.newPassword.second, 'col-12') }}
                        </div>
                    </div>
                    <div class="row mt-4 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary col-md-3 col-3">Change password</button>
                    </div>
                    {{ form_end(passwordForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}