{% extends 'layout/base.html.twig' %}
{% import 'layout/macros/form_render.html.twig' as custome_form_render %}

{% block body %}
    <div class="card">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 d-flex justify-content-start">
                            <h1 class="card-title">
                                {%  if isNew %}
                                    Add new website
                                {% else %}
                                    Edit
                                {% endif %}
                            </h1>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <a href="{{ path('app_website_list') }}" class="btn btn-warning ml-2"><i class="fa fa-arrow-left" aria-hidden="true"></i> Return</a>
                        </div>
                    </div>
                    <hr/>
                    <div class="card-body">
                        <div>
                            {{ form_start(form) }}
                            <div class="row">
                                {{ custome_form_render.row_text(form.name, "col-md-6 col-12 mt-3") }}
                                {{ custome_form_render.row_text(form.url, "col-md-6 col-12 mt-3") }}
                            </div>
                            <div class="row">
                                {{ custome_form_render.row_text(form.address, "col-md-6 col-12 mt-3") }}
                                {{ custome_form_render.row_text(form.phone, "col-md-6 col-12 mt-3") }}
                            </div>

                            <div class="row">
                                {{ custome_form_render.row_text(form.description, "col-md-12 col-12 mt-3") }}
                            </div>
                            {% if not isNew %}
                                <hr/>
                                  <div class="row justify-content-start">
                                    {{ custome_form_render.row_switch(form.DevMod, 'd-flex justify-content-start') }}
                                </div>
                                <div class="row justify-content-end">
                                    {{ custome_form_render.row_switch(form.isEnabled, 'd-flex justify-content-end') }}
                                </div>
                            {% endif %}
                            <div class="row justify-content-center mt-5">
                                <button type="submit" class="btn btn-success col-md-2">
                                    {%  if isNew %}
                                        Add
                                    {% else %}
                                        Edit
                                    {% endif %} website
                                </button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
