{% extends 'layout/base.html.twig' %}
{% import 'layout/macros/form_render.html.twig' as custom_form_render %}

{% block stylesheets %}
    <style>
        .card {
            min-height: 100%;
        }
        .folder-container {
            min-height: 50vh;
            border: 1px solid #ddd;
            border-radius: 5px;
            overflow: hidden;
        }

        .folder-navigation {
            border-right: 1px solid #ddd;
            background-color: #f8f9fa; /* Light grey background for tabs */
            padding: 0;
        }

        .folder-tabs {
            border-right: 1px solid #ddd;
            background-color: #f8f9fa; /* Light grey background for tabs */
            padding: 0;
        }

        .folder-tabs .nav-link {
            border-radius: 0; /* Remove rounded corners from buttons */
            text-align: left; /* Align text to the left */
        }

        .folder-content {
            padding: 15px;
            background-color: #fff;
            min-height: 200px; /* Adjust as needed */
        }

        .folder-container .nav-pills .nav-link {
            border-bottom: 1px solid #ddd;
            margin-bottom: 0; /* Ensure there's no gap between tabs */
        }
        #v-pills-tab {
            padding-top: 30%;
        }

        .folder-container .nav-pills .nav-link.active {
            background-color: #007bff;
            color: #fff;
        }

        .folder-container .nav-pills .nav-link:not(.active):hover {
            background-color: #e9ecef; /* Lighten the hover effect */
        }

    </style>
{% endblock %}

{% block body %}
<div class="card">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card-body">
                <div class="row">
                    <div class="col-6 d-flex justify-content-start">
                        <h1 class="card-title">
                            {{ prospect.firstName }} {{ prospect.lastName }}
                        </h1>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <a href="{{ path('app_prospects_list') }}" class="btn btn-warning ml-2"><i
                                    class="fa fa-arrow-left" aria-hidden="true"></i> Return</a>
                    </div>
                </div>
                <hr/>
                <div class="card-body">
                    <div class="row">
                        <p class="text-info h4">Information générale du prospect</p>
                        <div class="row ml-md-2 ">
                            <span class="col-2 col-xs-6">
                                <b>First name: </b>{{ prospect.firstName }}
                            </span>
                            <span class="col-2 col-xs-6">
                                <b>Last name: </b>{{ prospect.LastName }}
                            </span>
                            <span class="col-2 col-xs-6">
                                <b>Birthdate: </b> {{ prospect.birthday|date('d-m-Y') }}
                            </span>
                            <span class="col-2 col-xs-6">
                                <b>Email: </b> {{ prospect.email }}
                            </span>
                        </div>
                        <div class="row ml-md-2 mt-3">
                            <span class="col-2 col-xs-6">
                                <b>Phone number: </b> {{ prospect.phoneNumber }}
                            </span>
                            <span class="col-2 col-xs-6">
                                <b>Country: </b> {{ prospect.country }}
                            </span>
                            <span class="col-2 col-xs-6">
                                <b>City: </b> {{ prospect.city }}
                            </span>
                        </div>
                        <div class="row ml-md-2 mt-3">
                            <span class="col-2 col-xs-6">
                                <b>Intervention type: </b> {{ prospect.category.label }}
                            </span>
                            <span class="col-2 col-xs-6">
                                <b>Intervention: </b>
                                {% for service in prospect.services %}
                                    <span>{{ service.label }}</span>
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </span>
                            <span class="col-2 col-xs-6">
                                <b>Host: </b> {{ prospect.host }}
                            </span>
                            <span class="col-2 col-xs-6">
                                <b>Appointment date:</b> {{ prospect.appointment|date('d-m-Y') }}
                            </span>
                        </div>
                        <div class="row ml-md-2 mt-3">
                            <span class="col-12">
                                <b>Description:</b> {{ prospect.description ?: '-' }}
                            </span>
                        </div>
                    </div>
                    <div class="row mt-4 folder-container">
                        <div class="col-3 folder-navigation">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <button class="nav-link active" id="v-pills-suivi-tab" data-toggle="pill" data-target="#v-pills-suivi" type="button" role="tab" aria-controls="v-pills-suivi" aria-selected="true">Suivi du dossier</button>
                                <button class="nav-link" id="v-pills-medical-files-tab" data-toggle="pill" data-target="#v-pills-medical-files" type="button" role="tab" aria-controls="v-pills-medical-files" aria-selected="false">Dossier médical</button>
                                <button class="nav-link" id="v-pills-client-files-tab" data-toggle="pill" data-target="#v-pills-client-files" type="button" role="tab" aria-controls="v-pills-client-files" aria-selected="false">Dossier Client</button>
                            </div>
                        </div>
                        <div class="col-9 mt-md-3 folder-content">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-suivi" role="tabpanel" aria-labelledby="v-pills-suivi-tab">
                                    <div class="col-12">
                                        <div class="d-flex justify-content-start">
                                            <p class="text-info h4">Tableau de suivi du dossier</p>
                                            <button type="button" data-toggle="modal" data-target="#myModal"
                                                    class="btn btn-info ml-2"><i class="fa  fa-user-plus" aria-hidden="true"></i>Add
                                                a note
                                            </button>
                                        </div>
                                        <table class="table table-xs" id="table">
                                            <thead class="table-primary"></thead>
                                        </table>
                                    </div>
                                    <div id="note-modal">
                                        {{ render(path('app_notes_new',parameters = {prospect: prospect.id})) }}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-medical-files" role="tabpanel" aria-labelledby="v-pills-medical-files-tab">
                                    <div class="col-12">
                                        <div class="d-flex justify-content-start">
                                            <p class="text-info h4">Dossier médical</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-client-files" role="tabpanel" aria-labelledby="v-pills-client-files-tab">
                                    <div class="col-12">
                                        <div class="d-flex justify-content-start">
                                            <p class="text-info h4">Dossier Client</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block javascript %}

    <script>
        const columns = [
        {
            title: 'ID',
            field: 't_id',
            visible: false,
            align: "center",
            sortName: 't.id',
            halign: "center"
        },
        {
            title: 'Message',
            field: 't_message',
            sortable: true,
            sortName: 't.message',
            halign: "center",
            align: "center"
        },
        {
            title: 'Status',
            field: 's_label',
            sortable: true,
            sortName: 's.label',
            halign: "center",
            align: 'center'
        },
        {
            title: 'Created at',
            field: 't_createdAt',
            sortable: true,
            sortName: 't.createdAt',
            align: "center",
            halign: "center",
            formatter: function (value, row) {
            if (value == undefined)
            return "-";
            var date = moment(value);
            return date.format('DD-MMM-YYYY');
        }},
        {
            title: 'Created by',
            field: 'u_username',
            sortable: true,
            sortName: 'u.username',
            align: "center",
            halign: "center",
            formatter: function (value, row) {
            return value
        }
        },
        {
            title: 'Action',
            sortable: false,
            align: "center",
            halign: "center",
            formatter: function (data, row, index) {
            let ch = '<button type="button" id="edit-button" data-note='+ data +' class="btn btn-primary btn-sm" ><i class="fa fa-pencil" aria-hidden="true"></i>edit</button>';
            return ch;
        }
        },{
        title: 'color',
        visible: false,
        field: 's_colorCode',
    },

        ];

        $(document).ready(function () {
        const $table = $('#table');

        $table.bootstrapTable({
        toggle: "table",
        url: Routing.generate('app_prospects_show',{prospect: {{ prospect.id }} }),
        sidePagination: "server",
        loadingFontSize: '14px',
        visibleSearch: true,
        buttonsClass: '',
        pageSize: 10,
        pageList:[10, 25, 50, 100],
        pagination: true,
        paginationSuccessivelySize: 3,
        rowStyle: function (row) {
            return {css:{ 'background-color' : row.s_colorCode}}
        },
        onClickRow:function (row, $element, field){
            $.ajax({
    type: 'POST',
    url: Routing.generate('app_notes_edit',{note: row.t_id }),
    dataType: 'html',
    success: function (res) {
        //Handle your JSON data to update the DOM
  $("#note-modal").html(res);
  $("#myModal").show();
    }
})
        } ,
        paginationPagesBySide: 3,
        paginationUseIntermediate: true,
        paginationLoop: false,
        paginationNextText: 'Next >',
        paginationPreText: '< Prev',
        sortName: "t.id",
        sortOrder: "desc",
        toolbar: "#toolbar",
        filterControl: "true",
        queryParams: function queryParams(params) {
        params.columns = columns;
        params.condition = ["t.prospect = {{ prospect.id }}"]
        params.join = [{
        'type' : 'left',
        'join' : 't.status',
        'alias' : 's',
        'condition' : ''
        },{
        'type' : 'left',
        'join' : 't.user',
        'alias' : 'u',
        'condition' : ''
        }]
        return params
    },
        columns: columns,
        join: ["status","user"]
    })
    });
    </script>
    {% endblock %}
