{% extends 'base.html.twig' %}

{% block title %}Evacuation Sanitaire{% endblock %}

{% block body %}

    <!-- Start Department Section -->
    <section>

        <div class="cs_height_185 cs_height_xl_150 cs_height_lg_110"></div>
{#        // star hetha ta3ml bih espace binet les bloc#}
        <div class="container">
            <div class="cs_hero_text">
                <h4> Chirurgie à Évacuation Sanitaire Tunisie : Expertise dans Toutes les Spécialités</h4>
                <p class="cs_hero_subtitle cs_fs_20 cs_heading_color">
                    Chez Évacuation Sanitaire Tunisie, nous sommes fiers de notre expertise et de notre capacité à
                    fournir des services de chirurgie de haute qualité dans une variété de spécialités médicales. Nous
                    nous engageons à offrir des soins chirurgicaux sûrs, efficaces et personnalisés à chaque patient.
                </p>

            </div>
            <div class="cs_height_18 cs_height_xl_15 cs_height_lg_11"></div>
            <div class="cs_departments cs_style_1">
                <div class="cs_departments_bg cs_radius_25"
                     data-src="{{ asset('templatefront/assets/img/home_1/department_bg.svg') }}"></div>
                <div class="cs_section_heading cs_style_1 text-center">
                    <h2 class="cs_section_title cs_fs_72 m-0 cs_white_color">Type de Chirurgie</h2>
                </div>
                <div class="cs_height_72 cs_height_lg_50"></div>

                <div class="cs_department_list">
                    <div class="cs_department_carousel cs_gap_20">
                        <div class="cs_slider_activate">
                            <div class="cs_slide">
                                <a href="department-details.html"
                                   class="cs_department cs_shadow_1 cs_radius_20 cs_white_bg">
                                    <img src="{{ asset('templatefront/assets/img/home_1/icones spécialités-01.svg') }}"
                                         alt="Icon">
                                    <p class="cs_department_title cs_medium cs_heading_color cs_fs_20 mb-0">Chirurgie
                                        Digestive</p>
                                </a>
                            </div>
                            <div class="cs_slide">
                                <a href="department-details.html"
                                   class="cs_department cs_shadow_1 cs_radius_20 cs_white_bg">
                                    <img src="{{ asset('templatefront/assets/img/home_1/icones spécialités-02.svg') }}"
                                         alt="Icon">
                                    <p class="cs_department_title cs_medium cs_heading_color cs_fs_20 mb-0">
                                           Chirurgie
                                        Générale</p>
                                </a>
                            </div>
                            <div class="cs_slide">
                                <a href="department-details.html"
                                   class="cs_department cs_shadow_1 cs_radius_20 cs_white_bg">
                                    <img src="{{ asset('templatefront/assets/img/home_1/icones spécialités-03.svg') }}"
                                         alt="Icon">
                                    <p class="cs_department_title cs_medium cs_heading_color cs_fs_20 mb-0">Chirurgie
                                        Orthopédique </p>
                                </a>
                            </div>
                            <div class="cs_slide">
                                <a href="department-details.html"
                                   class="cs_department cs_shadow_1 cs_radius_20 cs_white_bg">
                                    <img src="{{ asset('templatefront/assets/img/home_1/icones spécialités-05.svg') }}"
                                         alt="Icon">
                                    <p class="cs_department_title cs_medium cs_heading_color cs_fs_20 mb-0">Chirurgie
                                        Neurologique</p>
                                </a>
                            </div>
                            <div class="cs_slide">
                                <a href="department-details.html"
                                   class="cs_department cs_shadow_1 cs_radius_20 cs_white_bg">
                                    <img src="{{ asset('templatefront/assets/img/home_1/icones spécialités-04.svg') }}"
                                         alt="Icon">
                                    <p class="cs_department_title cs_medium cs_heading_color cs_fs_20 mb-0">Chirurgie
                                        Oncologique</p>
                                </a>
                            </div>
                            <div class="cs_slide">
                                <a href="department-details.html"
                                   class="cs_department cs_shadow_1 cs_radius_20 cs_white_bg">
                                    <img src="{{ asset('templatefront/assets/img/home_1/icones spécialités-06.svg') }}"
                                         alt="Icon">
                                    <p class="cs_department_title cs_medium cs_heading_color cs_fs_20 mb-0">Chirurgie
                                         Cardiaque</p>
                                </a>
                            </div>
                        </div>
                        <div class="cs_slider_navigation cs_style_1">
                            <div class="cs_slider_prev cs_center"><img
                                        src="{{ asset('templatefront/assets/img/icons/left_arrow_blue.svg') }}"
                                        alt="Prev"></div>
                            <div class="cs_slider_next cs_center"><img
                                        src="{{ asset('templatefront/assets/img/icons/right_arrow_blue.svg') }}"
                                        alt="Next"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cs_height_70 cs_height_xl_70 cs_height_lg_110"></div>


            <div class="cs_hero_text">
                <h4>
                    Pourquoi Choisir Évacuation Sanitaire Tunisie pour Votre Chirurgie ?
                </h4>

                <div class="cs_random_features">
                    <div class="cs_random_features_col">
                        <div class="cs_feature cs_style_1 cs_shadow_1 cs_radius_25 cs_white_bg">
                            <div class="cs_feature_title cs_semibold cs_fs_40 cs_center">
                                <span class="cs_feature_icon cs_accent_bg cs_center rounded-circle">
                                 <img src="{{ asset('templatefront/assets/img/home_1/ms_équipes médicales spécialisées.svg') }}" alt="Icon">
                                </span>
                                <h3 class="text-center">Équipes Médicales Spécialisées</h3>
                            </div>
                            <p class="m-0 text-center">
                                Nos chirurgiens et notre personnel médical sont hautement
                                qualifiés et expérimentés dans leurs domaines respectifs.
                            </p>
                        </div>
                    </div>
                    <div class="cs_random_features_col">
                        <div class="cs_feature cs_style_1 cs_shadow_1 cs_radius_25 cs_white_bg">
                            <div class="cs_feature_title cs_semibold cs_fs_40 cs_center">
                                <span class="cs_feature_icon cs_accent_bg cs_center rounded-circle">
                                  <img src="{{ asset('templatefront/assets/img/home_1/ms_infrastrcture de pointe.svg') }}" alt="Icon">
                                </span>
                                <h3 class="text-center">Infrastructure de Pointe</h3>
                            </div>
                            <p class="m-0 text-center">Nous disposons d'installations modernes et de technologies
                                avancées pour assurer des interventions chirurgicales sûres et efficaces.</p>
                        </div>
                    </div>
                    <div class="cs_random_features_col">
                        <div class="cs_feature cs_style_1 cs_shadow_1 cs_radius_25 cs_white_bg">
                            <div class="cs_feature_title cs_semibold cs_fs_40 cs_center">
                                <span class="cs_feature_icon cs_accent_bg cs_center rounded-circle">
                                  <img src="{{ asset('templatefront/assets/img/home_1/integrity.svg') }}" alt="Icon">
                                </span>
                                <H3 class="text-center">Approche Personnalisée </H3>
                            </div>
                            <p class="m-0 text-center">
                                Chaque patient bénéficie d'une prise en charge individualisée,
                                avec une attention particulière portée à leur bien-être et à leur récupération.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <!-- End Department Section -->

{% endblock %}