{% extends 'base.html.twig' %}

{% block title %}Evacuation Sanitaire{% endblock %}

{% block body %}
    <div class="cs_height_135 cs_height_lg_100"></div>
    <section class="cs_shape_wrap">
        <div class="cs_shape_1 cs_position_5"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="cs_section_heading cs_style_1">
                        <h2 class="cs_section_title cs_fs_30 m-0">Services de Gynécologie chez Évacuation Sanitaire Tunisie</h2>
                        <div class="cs_height_54 cs_height_xl_30"></div>
                        <p class="m-0">Chez Évacuation Sanitaire Tunisie, nous offrons des services complets de gynécologie pour répondre aux besoins de santé spécifiques des femmes à toutes les étapes de leur vie. Notre équipe de gynécologues expérimentés est dédiée à fournir des soins de haute qualité, centrés sur la patiente, dans un environnement accueillant et professionnel.

                        </p>
                        <div class="cs_height_120 cs_height_xl_60"></div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <img src="{{ asset('templatefront/assets/img/home_1/medium-shot-doctor-holding-anatomic-model.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </section>



    <section>
        <div class="cs_height_200 cs_height_xl_150 cs_height_lg_110"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-4">
                    <div class="cs_section_heading cs_style_1">
                        <div class="cs_height_150 cs_height_xl_97 cs_height_lg_110"></div>
                        <h2 class="cs_section_title cs_fs_74 m-0">Nos Services de Gynécologie Comprennent :</h2>


                    </div>
                    <div class="cs_height_70 cs_height_lg_50"></div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="cs_iconbox cs_style_4">
                        <div class="cs_iconbox_icon cs_accent_bg rounded-circle cs_center">
                            <img src="/templatefront/assets/img/icons/calendar_white.svg" alt="Icon">
                        </div>
                        <h2 class="cs_iconbox_title cs_fs_32">	Consultations Gynécologiques : </h2>
                        <p class="cs_iconbox_subtitle m-0"> Nous offrons des consultations complètes pour le suivi gynécologique régulier, y compris les examens pelviens, les frottis cervicaux, et les conseils en matière de santé reproductive.


                        </p>
                        <a href="" class="cs_iconbox_btn cs_center">
                            <img src="{{ asset('templatefront/assets/img/icons/arrow_white.svg') }}" alt="Icon">
                            <img src="{{ asset('templatefront/assets/img/icons/arrow_white.svg') }}" alt="Icon">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="cs_iconbox cs_style_4">
                        <div class="cs_iconbox_icon cs_accent_bg rounded-circle cs_center">
                            <img src="/templatefront/assets/img/icons/calendar_white.svg" alt="Icon">
                        </div>
                        <h2 class="cs_iconbox_title cs_fs_32">	Suivi de Grossesse : </h2>
                        <p class="cs_iconbox_subtitle m-0"> Nous assurons un suivi attentif de la grossesse, avec des examens prénataux réguliers et des conseils personnalisés pour assurer la santé de la mère et du bébé tout au long de la grossesse.


                        </p>
                        <a href="" class="cs_iconbox_btn cs_center">
                            <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                            <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="cs_iconbox cs_style_4">
                        <div class="cs_iconbox_icon cs_accent_bg rounded-circle cs_center">
                            <img src="/templatefront/assets/img/icons/calendar_white.svg" alt="Icon">
                        </div>
                        <h2 class="cs_iconbox_title cs_fs_32">	Diagnostic et Traitement des Maladies Gynécologiques :</h2>
                        <p class="cs_iconbox_subtitle m-0"> Nous diagnostiquons et traitons une gamme complète de conditions gynécologiques telles que les infections vaginales, les troubles menstruels, les fibromes utérins, et autres problèmes de santé féminine.


                        </p>
                        <a href="" class="cs_iconbox_btn cs_center">
                            <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                            <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="cs_iconbox cs_style_4">
                        <div class="cs_iconbox_icon cs_accent_bg rounded-circle cs_center">
                            <img src="/templatefront/assets/img/icons/calendar_white.svg" alt="Icon">
                        </div>
                        <h2 class="cs_iconbox_title cs_fs_32">	Chirurgie Gynécologique : </h2>
                        <p class="cs_iconbox_subtitle m-0">Nos spécialistes réalisent des interventions chirurgicales gynécologiques, y compris la laparoscopie pour l'endométriose, l'hystérectomie, et d'autres procédures pour traiter les affections gynécologiques complexes.


                        </p>
                        <a href="" class="cs_iconbox_btn cs_center">
                            <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                            <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="cs_iconbox cs_style_4">
                        <div class="cs_iconbox_icon cs_accent_bg rounded-circle cs_center">
                            <img src="/templatefront/assets/img/icons/calendar_white.svg" alt="Icon">
                        </div>
                        <h2 class="cs_iconbox_title cs_fs_32">	Contraception et Planification Familiale : </h2>
                        <p class="cs_iconbox_subtitle m-0">Nous fournissons des conseils sur les méthodes contraceptives et des services de planification familiale adaptés aux besoins individuels de chaque patiente.


                        </p>
                        <a href="" class="cs_iconbox_btn cs_center">
                            <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                            <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="cs_height_185 cs_height_xl_150 cs_height_lg_110"></div>

    <section>
        <div class="cs_height_170 cs_height_xl_145 cs_height_lg_90"></div>
        <div class="container">
            <div class="cs_section_heading cs_style_1">
                <h3 class="cs_section_subtitle text-uppercase cs_accent_color cs_semibold m-0 cs_accent_color cs_fs_32">
                    Pourquoi Choisir</h3>
                <div class="cs_height_5"></div>
                <h2 class="cs_section_title cs_fs_72 m-0"> Pourquoi Choisir Évacuation Sanitaire Tunisie pour Vos Soins Gynécologiques ?
                </h2>
            </div>
            <div class="cs_height_70 cs_height_lg_50"></div>
            <div class="cs_iconbox_8_wrap cs_radius_30">
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="cs_iconbox cs_style_8 text-center cs_radius_20">
                            <div class="cs_iconbox_icon rounded-circle cs_center"><img
                                        src="/templatefront/assets/img/departments/icon_9.svg" alt="Icon"></div>
                            <h2 class="cs_iconbox_title cs_semibold cs_fs_32">Équipe Médicale Qualifiée : </h2>
                            <p class="cs_iconbox_subtitle m-0"> Nos gynécologues sont des professionnels expérimentés, formés aux normes les plus élevées en matière de soins gynécologiques.


                            </p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="cs_iconbox cs_style_8 text-center cs_radius_20">
                            <div class="cs_iconbox_icon rounded-circle cs_center"><img
                                        src="/templatefront/assets/img/departments/icon_10.svg" alt="Icon"></div>
                            <h2 class="cs_iconbox_title cs_semibold cs_fs_32">Approche Personnalisée :  </h2>
                            <p class="cs_iconbox_subtitle m-0"> Nous traitons chaque patiente avec compassion et respect, en fournissant des soins adaptés à ses besoins spécifiques.


                            </p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="cs_iconbox cs_style_8 text-center cs_radius_20">
                            <div class="cs_iconbox_icon rounded-circle cs_center"><img
                                        src="/templatefront/assets/img/departments/icon_11.svg" alt="Icon"></div>
                            <h2 class="cs_iconbox_title cs_semibold cs_fs_32">Confidentialité et Confort : </h2>
                            <p class="cs_iconbox_subtitle m-0">Nous offrons un environnement confidentiel et sécurisé pour discuter des questions de santé intimes et personnelles.
                            </p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <div class="cs_iconbox cs_style_8 text-center cs_radius_20">
                            <div class="cs_iconbox_icon rounded-circle cs_center"><img
                                        src="/templatefront/assets/img/departments/icon_12.svg" alt="Icon"></div>
                            <h2 class="cs_iconbox_title cs_semibold cs_fs_32">Technologie de Pointe :  </h2>
                            <p class="cs_iconbox_subtitle m-0"> Nous utilisons des équipements et des techniques médicales de pointe pour assurer des diagnostics précis et des traitements efficaces.


                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="cs_height_185 cs_height_xl_150 cs_height_lg_110"></div>
    <!-- contacter nous -->
    <section class="cs_footer_margin_0">
        <div class="container">
            <div class="cs_banner cs_style_7 cs_white_bg cs_radius_30 text-center cs_bg_filed"
                 style="background-image: url({{ asset('templatefront/assets/img/departments/banner_bg_3.svg') }});">
                <div class="cs_banner_img">
                    <img src="{{ asset('templatefront/assets/img/departments/banner_img_3.png') }}" alt="">
                </div>
                <h2 class="cs_banner_title cs_fs_72">Contactez-Nous !</h2>
                <p class="cs_banner_subtitle cs_fs_20 m-0 cs_medium">Prenez Rendez-Vous Aujourd'hui
                    Prenez le contrôle de votre santé gynécologique en prenant rendez-vous avec l'un de nos spécialistes en gynécologie. Contactez-nous dès aujourd'hui pour planifier votre consultation.
                    Formulaire

                </p>
                <div class="cs_height_50 cs_height_xl_150 cs_height_lg_110"></div>
                <div class="row align-items-center cs_gap_y_40">
                    <div class="col-lg-6">
                        <div class="cs_section_heading cs_style_1">

                            <div class="cs_height_5"></div>
                            <h2 class="cs_section_title cs_fs_72 m-0">Demander un devis:</h2>
                        </div>
                        <div class="cs_height_70 cs_height_lg_50"></div>
                        <form action="#" class="row">
                            <div class="col-lg-6">
                                <label class="cs_input_label cs_heading_color">Civilité</label>
                                <select class="cs_form_field">
                                    <option value="mr">Mr</option>
                                    <option value="mme">Mme</option>
                                </select>
                                <div class="cs_height_42 cs_height_xl_25"></div>
                            </div>
                            <div class="col-lg-6">
                                <label class="cs_input_label cs_heading_color">Nom</label>
                                <input type="text" class="cs_form_field" placeholder="Nom">
                                <div class="cs_height_42 cs_height_xl_25"></div>
                            </div>
                            <div class="col-lg-6">
                                <label class="cs_input_label cs_heading_color">Prénom</label>
                                <input type="text" class="cs_form_field" placeholder="Prénom">
                                <div class="cs_height_42 cs_height_xl_25"></div>
                            </div>
                            <div class="col-lg-6">
                                <label class="cs_input_label cs_heading_color">Date de Naissance</label>
                                <input type="date" class="cs_form_field" placeholder="YYYY-MM-DD">
                                <div class="cs_height_42 cs_height_xl_25"></div>
                            </div>
                            <div class="col-lg-6">
                                <label class="cs_input_label cs_heading_color">Email</label>
                                <input type="email" class="cs_form_field" placeholder="Email">
                                <div class="cs_height_42 cs_height_xl_25"></div>
                            </div>
                            <div class="col-lg-6">
                                <label class="cs_input_label cs_heading_color">Téléphone</label>
                                <input type="text" class="cs_form_field" placeholder="Téléphone">
                                <div class="cs_height_42 cs_height_xl_25"></div>
                            </div>
                            <div class="col-lg-6">
                                <label class="cs_input_label cs_heading_color">Pays</label>
                                <input type="text" class="cs_form_field" placeholder="Pays">
                                <div class="cs_height_42 cs_height_xl_25"></div>
                            </div>
                            <div class="col-lg-6">
                                <label class="cs_input_label cs_heading_color">Ville</label>
                                <input type="text" class="cs_form_field" placeholder="Ville">
                                <div class="cs_height_42 cs_height_xl_25"></div>
                            </div>
                            <div class="col-lg-12">
                                <label class="cs_input_label cs_heading_color">Hébergement</label>
                                <div class="cs_radio_group">
                                    <div class="cs_radio_wrap">
                                        <input class="cs_radio_input" type="radio" name="hebergement" id="hotel" value="hotel">
                                        <label class="cs_radio_label" for="hotel">Hotel</label>
                                    </div>
                                    <div class="cs_radio_wrap">
                                        <input class="cs_radio_input" type="radio" name="hebergement" id="appartement" value="appartement">
                                        <label class="cs_radio_label" for="appartement">Appartement</label>
                                    </div>
                                    <div class="cs_radio_wrap">
                                        <input class="cs_radio_input" type="radio" name="hebergement" id="sans_hebergement" value="sans_hebergement">
                                        <label class="cs_radio_label" for="sans_hebergement">Sans Hébergement</label>
                                    </div>
                                </div>
                                <div class="cs_height_42 cs_height_xl_25"></div>
                            </div>
                            <div class="col-lg-12">
                                <label class="cs_input_label cs_heading_color">Type d'Intervention</label>
                                <select class="cs_form_field">
                                    <option value="intervention_sthetique">Intervention Sthetique</option>
                                    <option value="intervention_medical">Intervention Medical</option>
                                </select>
                                <div class="cs_height_42 cs_height_xl_25"></div>
                            </div>
                            <div class="col-lg-12">
                                <button class="cs_btn cs_style_1">
                                    <span>Demander un devis</span>
                                    <i>
                                        <img src="{{ asset('templatefront/assets/img/icons/arrow_white.svg') }}" alt="Icon">
                                        <img src="{{ asset('templatefront/assets/img/icons/arrow_white.svg') }}" alt="Icon">
                                    </i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-5 offset-lg-1 text-center">
                        <img src="{{ asset('templatefront/assets/img/home_1/red-paper-uterus-female-hand-pink-background-top-view.jpg') }}" alt="Appointment"
                             class="cs_radius_30">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="cs_height_5 cs_height_xl_5 cs_height_lg_5"></div>


{% endblock %}


