{% extends 'base.html.twig' %}

{% block title %}Evacuation Sanitaire{% endblock %}

{% block body %}

    <!-- Start Hero -->
    <section class="cs_hero cs_style_1">
        <div class="cs_hero_wrap cs_bg_filed"  data-src="{{ asset('templatefront/assets/img/home_1/hero_bg.jpeg') }}">
            <div class="container">
                <div class="cs_hero_text">
                    <h1  style="color: #FF0000; font-size: 100px; margin: auto"  >Évacuation </h1>

                   <h1 style="color: #FF0000 ; font-size: 100px; margin: auto"> Sanitaire </h1>
                    <p  class="cs_hero_subtitle cs_fs_18 " style="color: #0a0a0a ; text-align:justify ; padding-right: 110px" >
                        Nous comprenons que chaque seconde compte
                        en situation d'urgence médicale. C'est
                        pourquoi, chez Évacuation Sanitaire Tunisie,
                        nous nous engageons à offrir des services
                        d'évacuation sanitaire rapides, sécurisés et
                        professionnels à travers toute la Tunisie et
                        au-delà.
                    </p>

                    <div class="cs_main_header_right d-flex align-items-center" style=" gap: 18px 15px; ">
                        <div class="cs_hero_info_col" >
                            <a href="#"  style="background-color: #0054bb; color:white; border: #ff0015; padding: 15px 70px; border-radius: 25px;" >
                                <span style="padding-left: 20px" >"Votre santé, notre priorité" </span>

                            </a>
                        </div>

                    </div>


                </div>
                <img  src="{{ asset('templatefront/assets/img/home_1/doctors-standing-back-back.png') }}" alt="Hero" class="cs_hero_img" HEIGHT="900" width="1120" style="padding-left:10px" >
                <div class="cs_hero_info_wrap cs_shadow_1 cs_white_bg cs_radius_15">
                    <div class="cs_hero_info_col">
                        <div class="cs_hero_info d-flex align-items-center">
                            <div class="cs_hero_info_icon cs_center rounded-circle cs_accent_bg" style="background-color: #ff0015; color:white; border: #ff0015; " >
                                <img src="{{ asset('templatefront/assets/img/contact/icon_1.svg') }}" alt="Icon">
                            </div>
                            <div class="cs_hero_info_right">
                                <h3 class="cs_hero_info_title cs_semibold">Téléphone</h3>
                                <p class="cs_hero_info_subtitle cs_fs_20">0021696750077</p>
                            </div>
                        </div>
                    </div>
                    <div class="cs_hero_info_col">
                        <div class="cs_hero_info d-flex align-items-center">
                            <div class="cs_hero_info_icon cs_center rounded-circle cs_accent_bg" >
                                <img src="{{ asset('templatefront/assets/img/icons/ambulance.svg') }}" alt="Icon">
                            </div>
                            <div class="cs_hero_info_right" >
                                <h3 class="cs_hero_info_title cs_semibold">Email:</h3>
                                <p class="cs_hero_info_subtitle cs_fs_20">contact@mondial-sante.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="cs_hero_info_col">
                        <div class="cs_hero_info d-flex align-items-center" >
                            <div class="cs_hero_info_icon cs_center rounded-circle cs_accent_bg" style="background-color: #ff0015; color:white; border: #ff0015;" >
                                <img src="{{ asset('templatefront/assets/img/icons/pin.svg') }}" alt="Icon">
                            </div>
                            <div class="cs_hero_info_right">
                                <h3 class="cs_hero_info_title cs_semibold">Localisation</h3>
                                <p class="cs_hero_info_subtitle cs_fs_20">3 Rue du Lac De Garde, Tunis</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End Hero -->
    <!-- Start Features Section -->
    <section class="cs_shape_wrap">
        <div class="cs_shape_1"></div>
        <div class="cs_height_185 cs_height_xl_140 cs_height_lg_100"></div>
        <div class="container">
            <div class="cs_section_heading cs_style_1 text-center">
                <h2 class="cs_section_title cs_fs_72 m-0">Pourquoi Choisir Evacuation Sanitaire ?</h2>
            </div>
            <div class="cs_height_72 cs_height_lg_50"></div>
            <div class="cs_random_features">
                <div class="cs_random_features">
                    <div class="cs_feature cs_style_1 cs_shadow_1 cs_radius_25 cs_white_bg">
                        <h2 class="cs_feature_title cs_semibold cs_fs_40 cs_center">
                <span class="cs_feature_icon cs_accent_bg cs_center rounded-circle">
                  <img src="{{ asset('templatefront/assets/img/home_1/excellence.svg') }}" alt="Icon">
                </span>
                            <span >Expérience et Expertise  </span>
                        </h2>
                        <p class="m-0 text-center">Avec des années d'expérience dans le domaine de l'évacuation sanitaire, nous possédons une expertise inégalée.</p>
                    </div>
                </div>
                <div class="cs_random_features">
                    <div class="cs_feature cs_style_1 cs_shadow_1 cs_radius_25 cs_white_bg">
                        <h2 class="cs_feature_title cs_semibold cs_fs_40 cs_center">
                <span class="cs_feature_icon cs_accent_bg cs_center rounded-circle">
                  <img src="{{ asset('templatefront/assets/img/home_1/excellence.svg') }}" alt="Icon">
                </span>
                            <span>Équipement à la Pointe de la Technologie  </span>
                        </h2>
                        <p class="m-0 text-center">Nous utilisons des équipements médicaux de pointe pour garantir la meilleure prise en charge possible.</p>
                    </div>
                </div>
                <div class="cs_random_features">
                    <div class="cs_feature cs_style_1 cs_shadow_1 cs_radius_25 cs_white_bg">
                        <h2 class="cs_feature_title cs_semibold cs_fs_40 cs_center">
                <span class="cs_feature_icon cs_accent_bg cs_center rounded-circle">
                  <img src="{{ asset('templatefront/assets/img/icons/patient.svg') }}" alt="Icon">
                </span>
                            <span>Personnel Hautement Qualifié  </span>
                        </h2>
                        <p class="m-0 text-center">Notre équipe est composée de professionnels de la santé formés pour gérer toutes les situations d'urgence.</p>
                    </div>
                </div>
                <div class="cs_random_features">

                        <h2 class="cs_feature_title cs_semibold cs_fs_40 cs_center"></h2>



                </div>
            </div>
        </div>

        </div> </section>
    <!-- End Features Section -->
    <section class="cs_shape_wrap">
    <div class="cs_shape_1"></div>

    <div class="container">
    <div class="cs_section_heading cs_style_1 text-center">
        <h2 class="cs_section_title cs_fs_72 m-0">A PROPOS DE NOUS</h2>
    </div>
    </div>
    </section>
    <!-- Start About Section -->
    <section class="cs_about cs_style_1">
        <div class="container">
            <div class="row align-items-center flex-lg-row flex-column-reverse cs_gap_y_40">
                <div class="col-lg-7">
                    <div class="cs_height_55"></div>
                    <div class="cs_about_img">
                        <img src="{{ asset('templatefront/assets/img/home_4/about_img.jpeg') }}" alt="About">
                        <div class="cs_about_mini_img">

                            <img src="{{ asset('templatefront/assets/img/icons/tick.svg') }}" alt="Right" class="cs_right_icon">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="cs_about_content">
                        <div class="cs_section_heading cs_style_1">

                            <div class="cs_height_5"></div>
                            <h3 class="cs_section_subtitle text-uppercase cs_accent_color cs_semibold m-0 cs_accent_color cs_fs_32">EVACUATION SANITAIRE</h3>
                        </div>
                        <div class="cs_height_72 cs_height_lg_50"></div>
                        <ul class="cs_about_text_list">
                            <li>
                                <i class="cs_accent_color">
                                    <svg width="35" height="24" viewBox="0 0 35 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M34.5342 13.0789L23.3977 23.5789C23.0977 23.8522 22.6958 24.0034 22.2787 23.9999C21.8615 23.9965 21.4625 23.8388 21.1675 23.5607C20.8726 23.2825 20.7053 22.9063 20.7016 22.513C20.698 22.1197 20.8584 21.7408 21.1482 21.4579L29.5689 13.5184H1.59092C1.16899 13.5184 0.764327 13.3604 0.465971 13.0791C0.167615 12.7978 0 12.4163 0 12.0184C0 11.6206 0.167615 11.2391 0.465971 10.9578C0.764327 10.6765 1.16899 10.5184 1.59092 10.5184H29.5689L21.1482 2.57893C20.9962 2.44056 20.875 2.27505 20.7916 2.09204C20.7083 1.90903 20.6644 1.7122 20.6625 1.51303C20.6607 1.31386 20.7009 1.11635 20.7809 0.932003C20.8609 0.747658 20.9791 0.580179 21.1284 0.439341C21.2778 0.298502 21.4554 0.18712 21.651 0.111698C21.8465 0.0362778 22.056 -0.00167465 22.2672 5.53131e-05C22.4785 0.00178719 22.6872 0.0431671 22.8813 0.12178C23.0754 0.200394 23.251 0.314665 23.3977 0.457932L34.5342 10.9579C34.8325 11.2392 35 11.6207 35 12.0184C35 12.4162 34.8325 12.7976 34.5342 13.0789Z" fill="#307BC4"/>
                                    </svg>
                                </i>

                                <p class="m-0">Chez Évacuation Sanitaire Tunisie, nous sommes spécialisés dans tous les types de chirurgie, offrant des soins de haute qualité grâce à notre équipe de chirurgiens expérimentés et à nos installations de pointe. Nous proposons également des conventions avec les ministères de la santé, les mutuelles, les assurances, les agences de voyage et autres structures pour assurer une prise en charge rapide et professionnelle de leurs patients. En établissant des partenariats stratégiques, nous offrons des services d'évacuation sanitaire prioritaires, sécurisés et à des tarifs préférentiels, garantissant ainsi la sécurité et le bien-être des bénéficiaires en cas d'urgence médicale.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section -->

    <div class="cs_height_200 cs_height_xl_150 cs_height_lg_110"></div>
    <!-- Start Banner -->
    <section>
        <div class="container">
            <div class="cs_banner cs_style_1 cs_bg_filed" data-src="{{ asset('templatefront/assets/img/home_1/cta_bg.svg') }}">
                <img src="{{ asset('templatefront/assets/img/home_1/cta_img.png')}}" alt="Cta" class="cs_banner_img">
                <h2 class="cs_banner_title cs_white_color cs_fs_72">Ne laissez pas votre santé passer au second plan !</h2>
                <p style="font-size: large" class="cs_banner_subtitle cs_heading_color cs_fs_24 cs_medium m-0">Prenez rendez-vous avec l'un de nos professionnels de santé expérimentés dès aujourd'hui !</p>
            </div>                                                                    
        </div>
    </section>
    <!-- End Banner -->

    <!-- Start Appointment Section -->
    <section class="cs_shape_wrap" id="appointment">
        <div class="cs_shape_2">
            <svg width="1089" height="1002" viewBox="0 0 1089 1002" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.2" d="M444.57 826.314C529.104 1065.89 739.237 1008.47 834.547 949.171C981.567 843.507 997.742 626.309 999.967 542.103C1001.75 474.739 1058.26 303.318 1086.29 226.028C1115.11 -40.9119 843.814 0.833657 795.515 6.26561C747.215 11.6976 593.662 71.4673 441.083 40.606C319.02 15.917 205.529 28.8791 164.042 38.4462C-13.0065 100.952 -2.22156 200.043 3.13034 242.954C8.48234 285.864 53.2821 366.319 234.465 453.073C379.411 522.475 435.469 730.386 444.57 826.314Z" fill="url(#paint0_linear_5_285)"/>
                <defs>
                    <linearGradient id="paint0_linear_5_285" x1="844.274" y1="950.214" x2="424.319" y2="-69.4782" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#86BBF1" offset="0"/>
                        <stop offset="1" stop-color="#D2EAEF"/>
                    </linearGradient>
                </defs>
            </svg>
        </div>
        <div class="cs_height_190 cs_height_xl_145 cs_height_lg_105"></div>
        <div class="container">
            <div class="row align-items-center cs_gap_y_40">
                <div class="col-lg-6">
                    <div class="cs_section_heading cs_style_1" >

                        <div class="cs_height_5"></div>
                        <h2 class="cs_section_title cs_fs_72 m-0">Demander un devis </h2>
                    </div>
                    <div class="cs_height_72 cs_height_lg_50"></div>
                    <form action="#" class="row">
                        <div class="col-lg-6">
                            <label class="cs_input_label cs_heading_color">Civilité</label>
                            <select class="cs_form_field">
                                <option value="mr">Mr</option>
                                <option value="mme">Mme</option>
                            </select>
                            <div class="cs_height_42 cs_height_xl_25"></div>
                        </div>
                        <div class="col-lg-6">
                            <label class="cs_input_label cs_heading_color">Nom</label>
                            <input type="text" class="cs_form_field" placeholder="Nom">
                            <div class="cs_height_42 cs_height_xl_25"></div>
                        </div>
                        <div class="col-lg-6">
                            <label class="cs_input_label cs_heading_color">Prénom</label>
                            <input type="text" class="cs_form_field" placeholder="Prénom">
                            <div class="cs_height_42 cs_height_xl_25"></div>
                        </div>
                        <div class="col-lg-6">
                            <label class="cs_input_label cs_heading_color">Date de Naissance</label>
                            <input type="date" class="cs_form_field" placeholder="YYYY-MM-DD">
                            <div class="cs_height_42 cs_height_xl_25"></div>
                        </div>
                        <div class="col-lg-6">
                            <label class="cs_input_label cs_heading_color">Email</label>
                            <input type="email" class="cs_form_field" placeholder="Email">
                            <div class="cs_height_42 cs_height_xl_25"></div>
                        </div>
                        <div class="col-lg-6">
                            <label class="cs_input_label cs_heading_color">Téléphone</label>
                            <input type="text" class="cs_form_field" placeholder="Téléphone">
                            <div class="cs_height_42 cs_height_xl_25"></div>
                        </div>
                        <div class="col-lg-6">
                            <label class="cs_input_label cs_heading_color">Pays</label>
                            <input type="text" class="cs_form_field" placeholder="Pays">
                            <div class="cs_height_42 cs_height_xl_25"></div>
                        </div>
                        <div class="col-lg-6">
                            <label class="cs_input_label cs_heading_color">Ville</label>
                            <input type="text" class="cs_form_field" placeholder="Ville">
                            <div class="cs_height_42 cs_height_xl_25"></div>
                        </div>
                        <div class="col-lg-12">
                            <label class="cs_input_label cs_heading_color">Hébergement</label>
                            <div class="cs_radio_group">
                                <div class="cs_radio_wrap">
                                    <input class="cs_radio_input" type="radio" name="hebergement" id="hotel" value="hotel">
                                    <label class="cs_radio_label" for="hotel">Hotel</label>
                                </div>
                                <div class="cs_radio_wrap">
                                    <input class="cs_radio_input" type="radio" name="hebergement" id="appartement" value="appartement">
                                    <label class="cs_radio_label" for="appartement">Appartement</label>
                                </div>
                                <div class="cs_radio_wrap">
                                    <input class="cs_radio_input" type="radio" name="hebergement" id="sans_hebergement" value="sans_hebergement">
                                    <label class="cs_radio_label" for="sans_hebergement">Sans Hébergement</label>
                                </div>
                            </div>
                            <div class="cs_height_42 cs_height_xl_25"></div>
                        </div>
                        <div class="col-lg-12">
                            <label class="cs_input_label cs_heading_color">Type d'Intervention</label>
                            <select class="cs_form_field">
                                <option value="intervention_sthetique">Intervention Sthetique</option>
                                <option value="intervention_medical">Intervention Medical</option>
                            </select>
                            <div class="cs_height_42 cs_height_xl_25"></div>
                        </div>
                        <div class="col-lg-12">
                            <button class="cs_btn cs_style_1">
                                <span>Demander devis</span>
                                <i>
                                    <img src="{{ asset('templatefront/assets/img/icons/arrow_white.svg') }}" alt="Icon">
                                    <img src="{{ asset('templatefront/assets/img/icons/arrow_white.svg') }}" alt="Icon">
                                </i>
                            </button>
                        </div>
                    </form>

                </div>
                <div class="col-lg-5 offset-lg-1 text-center">
                    <img src="{{ asset('templatefront/assets/img/about/why_choose_us.jpeg') }}" alt="Appointment" class="cs_radius_30">
                </div>
            </div>
        </div>
    </section>
    <!-- End Appointment Section -->
    <!-- Start FAQ Section -->
    <section>
        <div class="cs_height_190 cs_height_xl_145 cs_height_lg_105"></div>
        <div class="container">
            <div class="cs_section_heading cs_style_1 text-center">
                <h3 class="cs_section_subtitle text-uppercase cs_accent_color cs_semibold m-0 cs_accent_color cs_fs_32">Questions fréquemment posées </h3>
                <div class="cs_height_5"></div>

            </div>
            <div class="cs_height_72 cs_height_lg_50"></div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="cs_accordians cs_style1 cs_heading_color">
                        <div class="cs_accordian">
                            <h2 class="cs_accordian_head cs_heading_color">
                                Quels sont les services cardiologiques offerts par "Cardiologie Tunisie" ?
                                <span class="cs_accordian_arrow">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M-6.11959e-07 14C-2.74531e-07 21.7195 6.28053 28 14 28C21.7195 28 28 21.7195 28 14C28 6.28053 21.7195 -9.49388e-07 14 -6.11959e-07C6.28053 -2.74531e-07 -9.49388e-07 6.28053 -6.11959e-07 14ZM26.25 14C26.25 20.7548 20.7548 26.25 14 26.25C7.24522 26.25 1.75 20.7548 1.75 14C1.75 7.24522 7.24522 1.75 14 1.75C20.7548 1.75 26.25 7.24522 26.25 14ZM13.3814 8.13137C13.7233 7.78947 14.2769 7.78947 14.6186 8.13137L18.9936 12.5064C19.1645 12.6772 19.25 12.9012 19.25 13.125C19.25 13.3488 19.1645 13.5728 18.9936 13.7436C18.6517 14.0855 18.0981 14.0855 17.7564 13.7436L14.875 10.8622L14.875 19.25C14.875 19.7332 14.4837 20.125 14 20.125C13.5163 20.125 13.125 19.7332 13.125 19.25L13.125 10.8622L10.2436 13.7436C9.90172 14.0855 9.34806 14.0855 9.00637 13.7436C8.66469 13.4017 8.66447 12.8481 9.00637 12.5064L13.3814 8.13137Z" fill="#307BC4"/>
                    </svg>
                  </span>
                            </h2>
                            <div class="cs_accordian_body">
                                <p>Nous offrons une gamme complète de services cardiologiques, y compris les consultations, les examens diagnostiques (ECG, échocardiogrammes, tests de stress), les traitements non invasifs, ainsi que les interventions chirurgicales. Nos spécialistes sont qualifiés pour traiter une variété de conditions cardiaques, allant des maladies coronariennes aux arythmies.</p>
                            </div>
                        </div><!-- .cs_accordian -->
                        <div class="cs_accordian">
                            <h2 class="cs_accordian_head cs_heading_color">
                                Comment puis-je prendre rendez-vous avec un cardiologue chez "Cardiologie Tunisie" ?
                                <span class="cs_accordian_arrow">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M-6.11959e-07 14C-2.74531e-07 21.7195 6.28053 28 14 28C21.7195 28 28 21.7195 28 14C28 6.28053 21.7195 -9.49388e-07 14 -6.11959e-07C6.28053 -2.74531e-07 -9.49388e-07 6.28053 -6.11959e-07 14ZM26.25 14C26.25 20.7548 20.7548 26.25 14 26.25C7.24522 26.25 1.75 20.7548 1.75 14C1.75 7.24522 7.24522 1.75 14 1.75C20.7548 1.75 26.25 7.24522 26.25 14ZM13.3814 8.13137C13.7233 7.78947 14.2769 7.78947 14.6186 8.13137L18.9936 12.5064C19.1645 12.6772 19.25 12.9012 19.25 13.125C19.25 13.3488 19.1645 13.5728 18.9936 13.7436C18.6517 14.0855 18.0981 14.0855 17.7564 13.7436L14.875 10.8622L14.875 19.25C14.875 19.7332 14.4837 20.125 14 20.125C13.5163 20.125 13.125 19.7332 13.125 19.25L13.125 10.8622L10.2436 13.7436C9.90172 14.0855 9.34806 14.0855 9.00637 13.7436C8.66469 13.4017 8.66447 12.8481 9.00637 12.5064L13.3814 8.13137Z" fill="#307BC4"/>
                    </svg>
                  </span>
                            </h2>
                            <div class="cs_accordian_body">
                                <p>Vous pouvez prendre rendez-vous en ligne via notre formulaire de contact sur le site web, ou en appelant directement notre bureau au [numéro de téléphone]. Nos réceptionnistes seront heureux de vous aider à trouver un créneau horaire qui vous convient.</p>
                            </div>
                        </div><!-- .cs_accordian -->
                        <div class="cs_accordian active">
                            <h2 class="cs_accordian_head cs_heading_color">
                                Quels types d’examens de diagnostic sont disponibles chez "Cardiologie Tunisie" ?
                                <span class="cs_accordian_arrow">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M-6.11959e-07 14C-2.74531e-07 21.7195 6.28053 28 14 28C21.7195 28 28 21.7195 28 14C28 6.28053 21.7195 -9.49388e-07 14 -6.11959e-07C6.28053 -2.74531e-07 -9.49388e-07 6.28053 -6.11959e-07 14ZM26.25 14C26.25 20.7548 20.7548 26.25 14 26.25C7.24522 26.25 1.75 20.7548 1.75 14C1.75 7.24522 7.24522 1.75 14 1.75C20.7548 1.75 26.25 7.24522 26.25 14ZM13.3814 8.13137C13.7233 7.78947 14.2769 7.78947 14.6186 8.13137L18.9936 12.5064C19.1645 12.6772 19.25 12.9012 19.25 13.125C19.25 13.3488 19.1645 13.5728 18.9936 13.7436C18.6517 14.0855 18.0981 14.0855 17.7564 13.7436L14.875 10.8622L14.875 19.25C14.875 19.7332 14.4837 20.125 14 20.125C13.5163 20.125 13.125 19.7332 13.125 19.25L13.125 10.8622L10.2436 13.7436C9.90172 14.0855 9.34806 14.0855 9.00637 13.7436C8.66469 13.4017 8.66447 12.8481 9.00637 12.5064L13.3814 8.13137Z" fill="#307BC4"/>
                    </svg>
                  </span>
                            </h2>
                            <div class="cs_accordian_body">
                                <p>Nous proposons une variété d'examens diagnostiques pour évaluer la santé de votre cœur, y compris l'électrocardiogramme (ECG), l'échocardiogramme, le test d'effort, le holter ECG, et les angiographies. Ces tests nous aident à identifier et à traiter les problèmes cardiaques avec précision et efficacité.</p>
                            </div>
                        </div><!-- .cs_accordian -->
                        <div class="cs_accordian">
                            <h2 class="cs_accordian_head cs_heading_color">
                                Quels sont les examens de diagnostic courants en cardiologie ?
                                <span class="cs_accordian_arrow">
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M-6.11959e-07 14C-2.74531e-07 21.7195 6.28053 28 14 28C21.7195 28 28 21.7195 28 14C28 6.28053 21.7195 -9.49388e-07 14 -6.11959e-07C6.28053 -2.74531e-07 -9.49388e-07 6.28053 -6.11959e-07 14ZM26.25 14C26.25 20.7548 20.7548 26.25 14 26.25C7.24522 26.25 1.75 20.7548 1.75 14C1.75 7.24522 7.24522 1.75 14 1.75C20.7548 1.75 26.25 7.24522 26.25 14ZM13.3814 8.13137C13.7233 7.78947 14.2769 7.78947 14.6186 8.13137L18.9936 12.5064C19.1645 12.6772 19.25 12.9012 19.25 13.125C19.25 13.3488 19.1645 13.5728 18.9936 13.7436C18.6517 14.0855 18.0981 14.0855 17.7564 13.7436L14.875 10.8622L14.875 19.25C14.875 19.7332 14.4837 20.125 14 20.125C13.5163 20.125 13.125 19.7332 13.125 19.25L13.125 10.8622L10.2436 13.7436C9.90172 14.0855 9.34806 14.0855 9.00637 13.7436C8.66469 13.4017 8.66447 12.8481 9.00637 12.5064L13.3814 8.13137Z" fill="#307BC4"/>
                    </svg>
                  </span>
                            </h2>
                            <div class="cs_accordian_body">
                                <p>Les examens de diagnostic courants en cardiologie comprennent l'électrocardiogramme (ECG), qui enregistre l'activité électrique du cœur et aide à détecter les anomalies du rythme cardiaque. L'échocardiogramme utilise des ultrasons pour visualiser les structures du cœur et évaluer sa fonction. Le test d'effort, également connu sous le nom de test de stress, mesure la réponse du cœur à l'exercice et aide à diagnostiquer les maladies coronariennes. Les angiographies coronariennes permettent de visualiser les artères coronaires pour détecter les blocages ou les rétrécissements. L'IRM cardiaque offre des images détaillées des tissus cardiaques et est utilisée pour diagnostiquer diverses conditions cardiaques.</p>
                            </div>
                        </div><!-- .cs_accordian -->

                </div>
            </div>
        </div>
        </div></section>
    <!-- End FAQ Section -->




{% endblock %}