{% extends 'base.html.twig' %}

{% block title %}Evacuation Sanitaire{% endblock %}

{% block body %}
    <div class="cs_height_135 cs_height_lg_100"></div>
    <section class="cs_shape_wrap">
        <div class="cs_shape_1 cs_position_5"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="cs_section_heading cs_style_1">
                        <h2 class="cs_section_title cs_fs_30 m-0">Présentation du Poste Médical Avancé (PMA) chez Évacuation Sanitaire Tunisie</h2>
                        <div class="cs_height_54 cs_height_xl_30"></div>
                        <p class="m-0">Chez Évacuation Sanitaire Tunisie, nous sommes fiers d'offrir des services de Poste Médical Avancé (PMA) pour répondre aux urgences médicales de manière rapide et efficace. Le PMA est une unité mobile médicale déployée sur place lors de situations d'urgence, permettant une prise en charge immédiate des patients avant leur transfert vers des établissements de soins adaptés.</p>
                        <div class="cs_height_120 cs_height_xl_60"></div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <img src="{{ asset('templatefront/assets/img/home_1/WhatsApp Image 2024-08-07 à 16.57.28_1a77325e.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </section>

    <div class="cs_height_185 cs_height_xl_150 cs_height_lg_110"></div>


    <section class="cs_shape_wrap">
        <div class="cs_shape_1 cs_position_5"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img src="{{ asset('templatefront/assets/img/home_1/WhatsApp Image 2024-08-07 à 16.57.59_459455b5.jpg') }}" alt="">
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="cs_section_heading cs_style_1">
                        <h2 class="cs_section_title cs_fs_15 m-0">Qu'est-ce qu'un Poste Médical Avancé (PMA) ?</h2>
                        <div class="cs_height_54 cs_height_xl_30"></div>
                        <p class="m-0">Un Poste Médical Avancé est une structure médicale temporaire installée près du lieu d'un incident ou d'une catastrophe. Il est conçu pour offrir des soins médicaux d'urgence, stabiliser les patients et organiser leur évacuation vers des hôpitaux ou des cliniques spécialisées. Le PMA joue un rôle crucial dans la gestion des situations d'urgence en réduisant le temps de réponse et en améliorant les chances de survie des patients.</p>
                        <div class="cs_height_120 cs_height_xl_60"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="cs_height_200 cs_height_xl_150 cs_height_lg_110"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-4">
                    <div class="cs_section_heading cs_style_1">

                        <h2 class="cs_section_title cs_fs_40 m-0">Nos Services de PMA Incluent </h2>
                        <div class="cs_height_5"></div>
                      <p class="m-0" style="font-size: 14px">Un Poste Médical Avancé est une structure médicale temporaire installée près du lieu d'un incident ou d'une catastrophe. Il est conçu pour offrir des soins médicaux d'urgence, stabiliser les patients et organiser leur évacuation vers des hôpitaux ou des cliniques spécialisées. Le PMA joue un rôle crucial dans la gestion des situations d'urgence en réduisant le temps de réponse et en améliorant les chances de survie des patients.</p>


                    </div>
                    <div class="cs_height_70 cs_height_lg_50"></div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="cs_iconbox cs_style_4">
                        <div class="cs_iconbox_icon cs_accent_bg rounded-circle cs_center">
                            <img src="/templatefront/assets/img/icons/calendar_white.svg" alt="Icon">
                        </div>
                        <h2 class="cs_iconbox_title cs_fs_32">Soins Médicaux d'Urgence</h2>
                        <p class="cs_iconbox_subtitle m-0">Administration des premiers soins, stabilisation des patients, et traitement des blessures critiques sur place.</p>
                        <a href="" class="cs_iconbox_btn cs_center">
                            <img src="{{ asset('templatefront/assets/img/icons/arrow_white.svg') }}" alt="Icon">
                            <img src="{{ asset('templatefront/assets/img/icons/arrow_white.svg') }}" alt="Icon">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="cs_iconbox cs_style_4">
                        <div class="cs_iconbox_icon cs_accent_bg rounded-circle cs_center">
                            <img src="/templatefront/assets/img/icons/calendar_white.svg" alt="Icon">
                        </div>
                        <h2 class="cs_iconbox_title cs_fs_32">Coordination et Evacuation</h2>
                        <p class="cs_iconbox_subtitle m-0">Organisation du transfert sécurisé des patients vers les établissements de santé appropriés pour des soins complémentaires.</p>
                        <a href="" class="cs_iconbox_btn cs_center">
                            <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                            <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="cs_iconbox cs_style_4">
                        <div class="cs_iconbox_icon cs_accent_bg rounded-circle cs_center">
                            <img src="/templatefront/assets/img/icons/calendar_white.svg" alt="Icon">
                        </div>
                        <h2 class="cs_iconbox_title cs_fs_32">Équipements Médicaux Avancés</h2>
                        <p class="cs_iconbox_subtitle m-0">Utilisation d'équipements médicaux de pointe pour assurer des soins de haute qualité, même dans des conditions de terrain difficiles.</p>
                        <a href="" class="cs_iconbox_btn cs_center">
                            <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                            <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="cs_iconbox cs_style_4">
                        <div class="cs_iconbox_icon cs_accent_bg rounded-circle cs_center">
                            <img src="/templatefront/assets/img/icons/calendar_white.svg" alt="Icon">
                        </div>
                        <h2 class="cs_iconbox_title cs_fs_32">Équipe Médicale Expérimentée</h2>
                        <p class="cs_iconbox_subtitle m-0">Nos professionnels de la santé sont spécialement formés pour intervenir rapidement et efficacement en situation d'urgence.</p>
                        <a href="" class="cs_iconbox_btn cs_center">
                            <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                            <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="cs_height_185 cs_height_xl_150 cs_height_lg_110"></div>

    <section>
        <div class="cs_height_170 cs_height_xl_145 cs_height_lg_90"></div>
        <div class="container">
            <div class="cs_section_heading cs_style_1">
                <h3 class="cs_section_subtitle text-uppercase cs_accent_color cs_semibold m-0 cs_accent_color cs_fs_32">Pourquoi Choisir</h3>
                <div class="cs_height_5"></div>
                <h2 class="cs_section_title cs_fs_72 m-0"> Évacuation Sanitaire Tunisie pour le PMA ?</h2>
            </div>
            <div class="cs_height_70 cs_height_lg_50"></div>
            <div class="cs_iconbox_8_wrap cs_radius_30">
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="cs_iconbox cs_style_8 text-center cs_radius_20">
                            <div class="cs_iconbox_icon rounded-circle cs_center"><img src="/templatefront/assets/img/departments/icon_9.svg" alt="Icon"></div>
                            <h2 class="cs_iconbox_title cs_semibold cs_fs_32">Réactivité</h2>
                            <p class="cs_iconbox_subtitle m-0">Notre capacité à déployer rapidement un PMA permet de réduire les délais d'intervention et d'améliorer la prise en charge des patients.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="cs_iconbox cs_style_8 text-center cs_radius_20">
                            <div class="cs_iconbox_icon rounded-circle cs_center"><img src="/templatefront/assets/img/departments/icon_10.svg" alt="Icon"></div>
                            <h2 class="cs_iconbox_title cs_semibold cs_fs_32">Expertise</h2>
                            <p class="cs_iconbox_subtitle m-0">Une équipe médicale hautement qualifiée et expérimentée, capable de gérer diverses situations d'urgence avec compétence.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="cs_iconbox cs_style_8 text-center cs_radius_20">
                            <div class="cs_iconbox_icon rounded-circle cs_center"><img src="/templatefront/assets/img/departments/icon_11.svg" alt="Icon"></div>
                            <h2 class="cs_iconbox_title cs_semibold cs_fs_32">Technologie</h2>
                            <p class="cs_iconbox_subtitle m-0">Des équipements médicaux de dernière génération pour assurer des soins optimaux.</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="cs_iconbox cs_style_8 text-center cs_radius_20">
                            <div class="cs_iconbox_icon rounded-circle cs_center"><img src="/templatefront/assets/img/departments/icon_12.svg" alt="Icon"></div>
                            <h2 class="cs_iconbox_title cs_semibold cs_fs_32">Collaboration</h2>
                            <p class="cs_iconbox_subtitle m-0">Partenariats avec des institutions de santé locales et internationales pour une évacuation et des soins coordonnés.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="cs_height_185 cs_height_xl_150 cs_height_lg_110"></div>
<!-- Start Appointment Section -->
<section class="cs_shape_wrap" id="appointment">
    <div class="cs_shape_2">
        <svg width="1089" height="1002" viewBox="0 0 1089 1002" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.2" d="M444.57 826.314C529.104 1065.89 739.237 1008.47 834.547 949.171C981.567 843.507 997.742 626.309 999.967 542.103C1001.75 474.739 1058.26 303.318 1086.29 226.028C1115.11 -40.9119 843.814 0.833657 795.515 6.26561C747.215 11.6976 593.662 71.4673 441.083 40.606C319.02 15.917 205.529 28.8791 164.042 38.4462C-13.0065 100.952 -2.22156 200.043 3.13034 242.954C8.48234 285.864 53.2821 366.319 234.465 453.073C379.411 522.475 435.469 730.386 444.57 826.314Z" fill="url(#paint0_linear_5_285)"/>
            <defs>
                <linearGradient id="paint0_linear_5_285" x1="844.274" y1="950.214" x2="424.319" y2="-69.4782" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#86BBF1" offset="0"/>
                    <stop offset="1" stop-color="#D2EAEF"/>
                </linearGradient>
            </defs>
        </svg>
    </div>
    <div class="cs_height_190 cs_height_xl_145 cs_height_lg_105"></div>
    <div class="container">
        <div class="row align-items-center cs_gap_y_40">
            <div class="col-lg-6">
                <div class="cs_section_heading cs_style_1">

                    <div class="cs_height_5"></div>
                    <h2 class="cs_section_title cs_fs_72 m-0">Demander un devis</h2>
                </div>
                <div class="cs_height_72 cs_height_lg_50"></div>
                <form action="#" class="row">
                    <div class="col-lg-6">
                        <label class="cs_input_label cs_heading_color">Civilité</label>
                        <select class="cs_form_field">
                            <option value="mr">Mr</option>
                            <option value="mme">Mme</option>
                        </select>
                        <div class="cs_height_42 cs_height_xl_25"></div>
                    </div>
                    <div class="col-lg-6">
                        <label class="cs_input_label cs_heading_color">Nom</label>
                        <input type="text" class="cs_form_field" placeholder="Nom">
                        <div class="cs_height_42 cs_height_xl_25"></div>
                    </div>
                    <div class="col-lg-6">
                        <label class="cs_input_label cs_heading_color">Prénom</label>
                        <input type="text" class="cs_form_field" placeholder="Prénom">
                        <div class="cs_height_42 cs_height_xl_25"></div>
                    </div>
                    <div class="col-lg-6">
                        <label class="cs_input_label cs_heading_color">Date de Naissance</label>
                        <input type="date" class="cs_form_field" placeholder="YYYY-MM-DD">
                        <div class="cs_height_42 cs_height_xl_25"></div>
                    </div>
                    <div class="col-lg-6">
                        <label class="cs_input_label cs_heading_color">Email</label>
                        <input type="email" class="cs_form_field" placeholder="Email">
                        <div class="cs_height_42 cs_height_xl_25"></div>
                    </div>
                    <div class="col-lg-6">
                        <label class="cs_input_label cs_heading_color">Téléphone</label>
                        <input type="text" class="cs_form_field" placeholder="Téléphone">
                        <div class="cs_height_42 cs_height_xl_25"></div>
                    </div>
                    <div class="col-lg-6">
                        <label class="cs_input_label cs_heading_color">Pays</label>
                        <input type="text" class="cs_form_field" placeholder="Pays">
                        <div class="cs_height_42 cs_height_xl_25"></div>
                    </div>
                    <div class="col-lg-6">
                        <label class="cs_input_label cs_heading_color">Ville</label>
                        <input type="text" class="cs_form_field" placeholder="Ville">
                        <div class="cs_height_42 cs_height_xl_25"></div>
                    </div>
                    <div class="col-lg-12">
                        <label class="cs_input_label cs_heading_color">Hébergement</label>
                        <div class="cs_radio_group">
                            <div class="cs_radio_wrap">
                                <input class="cs_radio_input" type="radio" name="hebergement" id="hotel" value="hotel">
                                <label class="cs_radio_label" for="hotel">Hotel</label>
                            </div>
                            <div class="cs_radio_wrap">
                                <input class="cs_radio_input" type="radio" name="hebergement" id="appartement" value="appartement">
                                <label class="cs_radio_label" for="appartement">Appartement</label>
                            </div>
                            <div class="cs_radio_wrap">
                                <input class="cs_radio_input" type="radio" name="hebergement" id="sans_hebergement" value="sans_hebergement">
                                <label class="cs_radio_label" for="sans_hebergement">Sans Hébergement</label>
                            </div>
                        </div>
                        <div class="cs_height_42 cs_height_xl_25"></div>
                    </div>
                    <div class="col-lg-12">
                        <label class="cs_input_label cs_heading_color">Type d'Intervention</label>
                        <select class="cs_form_field">
                            <option value="intervention_sthetique">Intervention Sthetique</option>
                            <option value="intervention_medical">Intervention Medical</option>
                        </select>
                        <div class="cs_height_42 cs_height_xl_25"></div>
                    </div>
                    <div class="col-lg-12">
                        <button class="cs_btn cs_style_1">
                            <span>Submit</span>
                            <i>
                                <img src="{{ asset('templatefront/assets/img/icons/arrow_white.svg') }}" alt="Icon">
                                <img src="{{ asset('templatefront/assets/img/icons/arrow_white.svg') }}" alt="Icon">
                            </i>
                        </button>
                    </div>
                </form>

            </div>
            <div class="col-lg-5 offset-lg-1 text-center">
                <img src="{{ asset('templatefront/assets/img/home_1/appointment.jpeg') }}" alt="Appointment" class="cs_radius_30">
            </div>
        </div>
    </div>
</section>
<!-- End Appointment Section -->
{% endblock %}