
{% extends 'base.html.twig' %}

    {% block title %}Evacuation Sanitaire{% endblock %}

    {% block body %}
        <div class="cs_height_135 cs_height_lg_100"></div>
        <section class="cs_shape_wrap">
            <div class="cs_shape_1 cs_position_5"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="cs_section_heading cs_style_1">
                            <h2 class="cs_section_title cs_fs_30 m-0">Services de Pédiatrie chez Évacuation Sanitaire Tunisie</h2>
                            <div class="cs_height_54 cs_height_xl_30"></div>
                            <p class="m-0">Chez Évacuation Sanitaire Tunisie, nous comprenons l'importance de fournir des soins médicaux spécialisés et attentifs aux enfants. Notre service de pédiatrie est dédié à la santé et au bien-être des nourrissons, des enfants et des adolescents, offrant des soins complets et personnalisés pour chaque étape de leur développement.

                            </p>
                            <div class="cs_height_120 cs_height_xl_60"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <img src="{{ asset('templatefront/assets/img/home_1/side-view-cute-toddler-with-lab-coat-teddy-bear.jpg') }}" alt="">
                    </div>
                </div>
            </div>
        </section>



        <section>
            <div class="cs_height_200 cs_height_xl_150 cs_height_lg_110"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xl-4">
                        <div class="cs_section_heading cs_style_1">
                            <div class="cs_height_150 cs_height_xl_97 cs_height_lg_110"></div>
                            <h2 class="cs_section_title cs_fs_74 m-0">Nos Services de Pédiatrie Comprennent :</h2>


                        </div>
                        <div class="cs_height_70 cs_height_lg_50"></div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="cs_iconbox cs_style_4">
                            <div class="cs_iconbox_icon cs_accent_bg rounded-circle cs_center">
                                <img src="/templatefront/assets/img/icons/calendar_white.svg" alt="Icon">
                            </div>
                            <h2 class="cs_iconbox_title cs_fs_32">Consultations Pédiatriques Générales :</h2>
                            <p class="cs_iconbox_subtitle m-0"> Nous offrons des consultations régulières pour surveiller la croissance et le développement de votre enfant, administrer les vaccins nécessaires, et fournir des conseils sur la nutrition et le bien-être général.


                            </p>
                            <a href="" class="cs_iconbox_btn cs_center">
                                <img src="{{ asset('templatefront/assets/img/icons/arrow_white.svg') }}" alt="Icon">
                                <img src="{{ asset('templatefront/assets/img/icons/arrow_white.svg') }}" alt="Icon">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="cs_iconbox cs_style_4">
                            <div class="cs_iconbox_icon cs_accent_bg rounded-circle cs_center">
                                <img src="/templatefront/assets/img/icons/calendar_white.svg" alt="Icon">
                            </div>
                            <h2 class="cs_iconbox_title cs_fs_32">•	Diagnostic et Traitement des Maladies Enfantines : </h2>
                            <p class="cs_iconbox_subtitle m-0"> Notre équipe de pédiatres est spécialisée dans le diagnostic et le traitement des maladies infantiles courantes, telles que les infections respiratoires, les allergies, les maladies de la peau, et les troubles gastro-intestinaux.


                            </p>
                            <a href="" class="cs_iconbox_btn cs_center">
                                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="cs_iconbox cs_style_4">
                            <div class="cs_iconbox_icon cs_accent_bg rounded-circle cs_center">
                                <img src="/templatefront/assets/img/icons/calendar_white.svg" alt="Icon">
                            </div>
                            <h2 class="cs_iconbox_title cs_fs_32">	Suivi des Maladies Chroniques : </h2>
                            <p class="cs_iconbox_subtitle m-0"> Nous fournissons un suivi continu et une gestion des maladies chroniques chez les enfants, comme l'asthme, le diabète, et les troubles du développement, pour garantir une qualité de vie optimale.


                            </p>
                            <a href="" class="cs_iconbox_btn cs_center">
                                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="cs_iconbox cs_style_4">
                            <div class="cs_iconbox_icon cs_accent_bg rounded-circle cs_center">
                                <img src="/templatefront/assets/img/icons/calendar_white.svg" alt="Icon">
                            </div>
                            <h2 class="cs_iconbox_title cs_fs_32">	Urgences Pédiatriques : </h2>
                            <p class="cs_iconbox_subtitle m-0">Notre service d'urgences pédiatriques est disponible pour traiter les situations médicales urgentes, offrant des soins rapides et efficaces pour les blessures, les infections graves, et d'autres urgences médicales.



                            </p>
                            <a href="" class="cs_iconbox_btn cs_center">
                                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4">
                        <div class="cs_iconbox cs_style_4">
                            <div class="cs_iconbox_icon cs_accent_bg rounded-circle cs_center">
                                <img src="/templatefront/assets/img/icons/calendar_white.svg" alt="Icon">
                            </div>
                            <h2 class="cs_iconbox_title cs_fs_32">Conseils et Soutien aux Parents : </h2>
                            <p class="cs_iconbox_subtitle m-0">Nous offrons des consultations pour aider les parents à gérer les problèmes courants liés à la santé et au développement de leurs enfants, y compris les troubles du sommeil, les difficultés alimentaires, et les comportements.



                            </p>
                            <a href="" class="cs_iconbox_btn cs_center">
                                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <div class="cs_height_185 cs_height_xl_150 cs_height_lg_110"></div>

        <section>
            <div class="cs_height_170 cs_height_xl_145 cs_height_lg_90"></div>
            <div class="container">
                <div class="cs_section_heading cs_style_1">
                    <h3 class="cs_section_subtitle text-uppercase cs_accent_color cs_semibold m-0 cs_accent_color cs_fs_32">Pourquoi Choisir</h3>
                    <div class="cs_height_5"></div>
                    <h2 class="cs_section_title cs_fs_72 m-0"> Pourquoi Choisir Évacuation Sanitaire Tunisie pour Vos Soins Pédiatriques ?

                    </h2>
                </div>
                <div class="cs_height_70 cs_height_lg_50"></div>
                <div class="cs_iconbox_8_wrap cs_radius_30">
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="cs_iconbox cs_style_8 text-center cs_radius_20">
                                <div class="cs_iconbox_icon rounded-circle cs_center"><img src="/templatefront/assets/img/departments/icon_9.svg" alt="Icon"></div>
                                <h2 class="cs_iconbox_title cs_semibold cs_fs_32">Équipe de Spécialistes :</h2>
                                <p class="cs_iconbox_subtitle m-0">  Notre équipe de pédiatres est composée de professionnels expérimentés et passionnés, formés aux dernières techniques et traitements en pédiatrie.


                                </p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="cs_iconbox cs_style_8 text-center cs_radius_20">
                                <div class="cs_iconbox_icon rounded-circle cs_center"><img src="/templatefront/assets/img/departments/icon_10.svg" alt="Icon"></div>
                                <h2 class="cs_iconbox_title cs_semibold cs_fs_32">Soins Personnalisés :  </h2>
                                <p class="cs_iconbox_subtitle m-0"> Chaque enfant bénéficie d'une attention particulière et d'un plan de soins personnalisé adapté à ses besoins spécifiques.


                                </p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="cs_iconbox cs_style_8 text-center cs_radius_20">
                                <div class="cs_iconbox_icon rounded-circle cs_center"><img src="/templatefront/assets/img/departments/icon_11.svg" alt="Icon"></div>
                                <h2 class="cs_iconbox_title cs_semibold cs_fs_32">Environnement Accueillant : </h2>
                                <p class="cs_iconbox_subtitle m-0">Nous offrons un environnement chaleureux et accueillant pour les enfants, afin de rendre leur visite médicale aussi confortable que possible.
                                </p>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6">
                            <div class="cs_iconbox cs_style_8 text-center cs_radius_20">
                                <div class="cs_iconbox_icon rounded-circle cs_center"><img src="/templatefront/assets/img/departments/icon_12.svg" alt="Icon"></div>
                                <h2 class="cs_iconbox_title cs_semibold cs_fs_32">Technologie de Pointe :  </h2>
                                <p class="cs_iconbox_subtitle m-0"> Nous utilisons des équipements modernes et des techniques avancées pour assurer des diagnostics précis et des traitements efficaces.




                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="cs_height_185 cs_height_xl_150 cs_height_lg_110"></div>
        <!-- contacter nous -->
        <section class="cs_footer_margin_0">
            <div class="container">
                <div class="cs_banner cs_style_7 cs_white_bg cs_radius_30 text-center cs_bg_filed" style="background-image: url({{ asset('templatefront/assets/img/departments/banner_bg_3.svg') }});">
                    <div class="cs_banner_img">
                        <img src="{{ asset('templatefront/assets/img/departments/banner_img_3.png') }}" alt="">
                    </div>
                    <h2 class="cs_banner_title cs_fs_72">Contactez-Nous !</h2>
                    <p class="cs_banner_subtitle cs_fs_20 m-0 cs_medium">Prenez Rendez-Vous Aujourd'hui
                        Assurez-vous que votre enfant reçoit les meilleurs soins possibles. Contactez-nous dès aujourd'hui pour une consultation avec l'un de nos spécialistes en pédiatrie et commencez votre parcours vers une meilleure santé pour votre enfant.
                    </p>
                    <div class="cs_height_50 cs_height_xl_150 cs_height_lg_110"></div>
                    <div class="row align-items-center cs_gap_y_40">
                        <div class="col-lg-6">
                            <div class="cs_section_heading cs_style_1">

                                <div class="cs_height_5"></div>
                                <h2 class="cs_section_title cs_fs_72 m-0">Demander Un Devis:</h2>
                            </div>
                            <div class="cs_height_70 cs_height_lg_50"></div>
                            <form action="#" class="row">
                                <div class="col-lg-6">
                                    <label class="cs_input_label cs_heading_color">Civilité</label>
                                    <select class="cs_form_field">
                                        <option value="mr">Mr</option>
                                        <option value="mme">Mme</option>
                                    </select>
                                    <div class="cs_height_42 cs_height_xl_25"></div>
                                </div>
                                <div class="col-lg-6">
                                    <label class="cs_input_label cs_heading_color">Nom</label>
                                    <input type="text" class="cs_form_field" placeholder="Nom">
                                    <div class="cs_height_42 cs_height_xl_25"></div>
                                </div>
                                <div class="col-lg-6">
                                    <label class="cs_input_label cs_heading_color">Prénom</label>
                                    <input type="text" class="cs_form_field" placeholder="Prénom">
                                    <div class="cs_height_42 cs_height_xl_25"></div>
                                </div>
                                <div class="col-lg-6">
                                    <label class="cs_input_label cs_heading_color">Date de Naissance</label>
                                    <input type="date" class="cs_form_field" placeholder="YYYY-MM-DD">
                                    <div class="cs_height_42 cs_height_xl_25"></div>
                                </div>
                                <div class="col-lg-6">
                                    <label class="cs_input_label cs_heading_color">Email</label>
                                    <input type="email" class="cs_form_field" placeholder="Email">
                                    <div class="cs_height_42 cs_height_xl_25"></div>
                                </div>
                                <div class="col-lg-6">
                                    <label class="cs_input_label cs_heading_color">Téléphone</label>
                                    <input type="text" class="cs_form_field" placeholder="Téléphone">
                                    <div class="cs_height_42 cs_height_xl_25"></div>
                                </div>
                                <div class="col-lg-6">
                                    <label class="cs_input_label cs_heading_color">Pays</label>
                                    <input type="text" class="cs_form_field" placeholder="Pays">
                                    <div class="cs_height_42 cs_height_xl_25"></div>
                                </div>
                                <div class="col-lg-6">
                                    <label class="cs_input_label cs_heading_color">Ville</label>
                                    <input type="text" class="cs_form_field" placeholder="Ville">
                                    <div class="cs_height_42 cs_height_xl_25"></div>
                                </div>
                                <div class="col-lg-12">
                                    <label class="cs_input_label cs_heading_color">Hébergement</label>
                                    <div class="cs_radio_group">
                                        <div class="cs_radio_wrap">
                                            <input class="cs_radio_input" type="radio" name="hebergement" id="hotel" value="hotel">
                                            <label class="cs_radio_label" for="hotel">Hotel</label>
                                        </div>
                                        <div class="cs_radio_wrap">
                                            <input class="cs_radio_input" type="radio" name="hebergement" id="appartement" value="appartement">
                                            <label class="cs_radio_label" for="appartement">Appartement</label>
                                        </div>
                                        <div class="cs_radio_wrap">
                                            <input class="cs_radio_input" type="radio" name="hebergement" id="sans_hebergement" value="sans_hebergement">
                                            <label class="cs_radio_label" for="sans_hebergement">Sans Hébergement</label>
                                        </div>
                                    </div>
                                    <div class="cs_height_42 cs_height_xl_25"></div>
                                </div>
                                <div class="col-lg-12">
                                    <label class="cs_input_label cs_heading_color">Type d'Intervention</label>
                                    <select class="cs_form_field">
                                        <option value="intervention_sthetique">Intervention Sthetique</option>
                                        <option value="intervention_medical">Intervention Medical</option>
                                    </select>
                                    <div class="cs_height_42 cs_height_xl_25"></div>
                                </div>
                                <div class="col-lg-12">
                                    <button class="cs_btn cs_style_1">
                                        <span>Demander un devis</span>
                                        <i>
                                            <img src="{{ asset('templatefront/assets/img/icons/arrow_white.svg') }}" alt="Icon">
                                            <img src="{{ asset('templatefront/assets/img/icons/arrow_white.svg') }}" alt="Icon">
                                        </i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-5 offset-lg-1 text-center">
                            <img src="{{ asset('templatefront/assets/img/home_1/pediatrician-doctor-examining-baby-girl.jpg') }}" alt="Appointment" class="cs_radius_30">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="cs_height_5 cs_height_xl_5 cs_height_lg_5"></div>


    {% endblock %}


