{% extends 'base.html.twig' %}

{% block title %}Evacuation Sanitaire{% endblock %}

{% block body %}


    <!-- Start Banner  -->
    <section class="cs_banner cs_style_5 cs_bg_filed" data-src="/templatefront/assets/img/departments/banner_bg.svg">
      <div class="cs_banner_img">
        <img src="/templatefront/assets/img/departments/banner_img_3.png" alt="Banner Image">
      </div>
      <div class="container">
        <div class="cs_banner_text">
          <h2 class="cs_banner_title cs_fs_72">Découvrez les<br>Spécialités chez Evacuation Sanitaire</h2>

        </div>
      </div>
    </section>
    <!-- End Banner  -->
    <!-- Start Detartments -->
    <section>
      <div class="container cs_mt_minus_110">
        <div class="row justify-content-end ">
          <div class="col-xl-4 col-md-6 ">
            <div class="cs_iconbox cs_style_7">
              <div class="cs_iconbox_icon">
                <img src="/templatefront/assets/img/departments/ms_PMA.svg" alt="Icon" width="90" height="90">
              </div>
              <h2 class="cs_iconbox_title cs_fs_32">Procréation Médical Avancé </h2>
              <p class="cs_iconbox_subtitle m-0">Nous proposons des solutions de PMA innovantes pour accompagner les couples dans leur parcours vers la parentalité, en utilisant des techniques avancées et un soutien personnalisé pour optimiser les chances de succès.</p>
              <a href="{{ path('PMA')}}" class="cs_iconbox_btn cs_center">

                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 ">
            <div class="cs_iconbox cs_style_7">
              <div class="cs_iconbox_icon">
                <img src="/templatefront/assets/img/departments/ms_ORL.svg" alt="Icon" width="90" height="90">
              </div>
              <h2 class="cs_iconbox_title cs_fs_32">Oto-Rhino-Laryngologie </h2>
              <p class="cs_iconbox_subtitle m-0">Spécialisés dans le diagnostic et le traitement des troubles des oreilles, du nez et de la gorge, nous fournissons des soins de qualité pour améliorer votre confort et votre santé auditive et respiratoire.</p>
              <a href="{{ path('ORL')}}" class="cs_iconbox_btn cs_center">
                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 ">
            <div class="cs_iconbox cs_style_7">
              <div class="cs_iconbox_icon">
                <img src="/templatefront/assets/img/departments/icon_3.svg" alt="Icon">
              </div>
              <h2 class="cs_iconbox_title cs_fs_32">Gastroentérologie</h2>
              <p class="cs_iconbox_subtitle m-0">Nos experts en gastroentérologie se consacrent à la gestion des maladies digestives, offrant des diagnostics précis et des traitements efficaces pour optimiser votre bien-être gastro-intestinal.</p>
              <a href="{{ path('Gastro')}}" class="cs_iconbox_btn cs_center">
                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 ">
            <div class="cs_iconbox cs_style_7">
              <div class="cs_iconbox_icon">
                <img src="/templatefront/assets/img/departments/ms_Entérologie .svg" alt="Icon" width="70" height="70">
              </div>
              <h2 class="cs_iconbox_title cs_fs_32">Entérologie</h2>
              <p class="cs_iconbox_subtitle m-0">La spécialité de l'entérologie se concentre sur les maladies de l'intestin grêle ; nous offrons des soins spécialisés pour traiter et gérer les affections intestinales avec une approche individualisée.</p>
              <a href="{{ path('Entérologie')}}" class="cs_iconbox_btn cs_center">
                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 ">
            <div class="cs_iconbox cs_style_7">
              <div class="cs_iconbox_icon">
                <img src="/templatefront/assets/img/departments/icon_5.svg" alt="Icon">
              </div>
              <h2 class="cs_iconbox_title cs_fs_32">Oncologie</h2>
              <p class="cs_iconbox_subtitle m-0">Notre équipe d'oncologie est dédiée à la lutte contre le cancer, offrant des traitements innovants et un soutien complet pour chaque étape de votre parcours de soins.</p>
              <a href="{{ path('Oncologie')}}" class="cs_iconbox_btn cs_center">
                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 ">
            <div class="cs_iconbox cs_style_7">
              <div class="cs_iconbox_icon">
                <img src="/templatefront/assets/img/departments/icon_3.svg" alt="Icon">
              </div>
              <h2 class="cs_iconbox_title cs_fs_32">Pédiatrie </h2>
              <p class="cs_iconbox_subtitle m-0">Les soins pédiatriques que nous fournissons sont conçus pour répondre aux besoins spécifiques des enfants, avec une approche douce et professionnelle pour assurer leur croissance et leur santé optimale.</p>
              <a href="{{ path('Pédiatrique')}}" class="cs_iconbox_btn cs_center">
                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 ">
            <div class="cs_iconbox cs_style_7">
              <div class="cs_iconbox_icon">
                <img src="/templatefront/assets/img/departments/icon_7.svg" alt="Icon">
              </div>
              <h2 class="cs_iconbox_title cs_fs_32">Neurochirurgie</h2>
              <p class="cs_iconbox_subtitle m-0">Nous offrons une expertise de pointe en neurochirurgie, traitant les conditions complexes du cerveau, de la colonne vertébrale et des nerfs avec des techniques chirurgicales avancées et une approche attentive.</p>
              <a href="{{ path('Neurochirurgie')}}" class="cs_iconbox_btn cs_center">
                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 ">
            <div class="cs_iconbox cs_style_7">
              <div class="cs_iconbox_icon">
                <img src="/templatefront/assets/img/departments/icon_8.svg" alt="Icon">
              </div>
              <h2 class="cs_iconbox_title cs_fs_32">Chirurgie Générale </h2>
              <p class="cs_iconbox_subtitle m-0">Nos chirurgiens généralistes sont spécialisés dans une gamme étendue de procédures chirurgicales, fournissant des soins de haute qualité pour une variété de conditions avec des méthodes éprouvées.</p>
              <a href="{{ path('Chirurgie-générale')}}" class="cs_iconbox_btn cs_center">
                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
              </a>
            </div>
          </div>
          <div class="col-xl-4 col-md-6 ">
            <div class="cs_iconbox cs_style_7">
              <div class="cs_iconbox_icon">
                <img src="/templatefront/assets/img/departments/icon_4.svg" alt="Icon">
              </div>
              <h2 class="cs_iconbox_title cs_fs_32">Orthopédie</h2>
              <p class="cs_iconbox_subtitle m-0">L'orthopédie est notre spécialité, nous traitons les affections des os et des articulations avec des solutions personnalisées allant des interventions chirurgicales aux traitements non invasifs.</p>
              <a href="{{ path('Orthopédie')}}" class="cs_iconbox_btn cs_center">
                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
              </a>
            </div>
          </div>
            <div class="col-xl-4 col-md-6 ">
              <div class="cs_iconbox cs_style_7">
                <div class="cs_iconbox_icon">
                  <img src="/templatefront/assets/img/departments/icon_4.svg" alt="Icon">
                </div>
                <h2 class="cs_iconbox_title cs_fs_32">Gynécologie</h2>
                <p class="cs_iconbox_subtitle m-0">Nos services de gynécologie couvrent tous les aspects de la santé féminine, incluant la prévention, le diagnostic et le traitement des troubles gynécologiques avec une attention particulière à chaque patiente.</p>
                <a href="{{ path('Gynécologie')}}" class="cs_iconbox_btn cs_center">
                  <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                  <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                </a>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 ">
              <div class="cs_iconbox cs_style_7">
                <div class="cs_iconbox_icon">
                  <img src="/templatefront/assets/img/departments/ms_Chirurgie dentaire -.svg" alt="Icon"  width="90" height="90">
                </div>
                <h2 class="cs_iconbox_title cs_fs_32">Chirurgie Dentaire </h2>
                <p class="cs_iconbox_subtitle m-0">Nous offrons des soins dentaires chirurgicaux spécialisés pour résoudre les problèmes complexes, allant des extractions dentaires aux interventions de reconstruction, avec une approche axée sur le confort et la précision.</p>
                <a href="{{ path('Chirurgie-dentaire')}}" class="cs_iconbox_btn cs_center">
                  <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                  <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                </a>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 ">
              <div class="cs_iconbox cs_style_7">
                <div class="cs_iconbox_icon">
                  <img src="/templatefront/assets/img/departments/ms_Ophtalmologie .svg" alt="Icon" width="90" height="90">
                </div>
                <h2 class="cs_iconbox_title cs_fs_32">Ophtalmologie </h2>
                <p class="cs_iconbox_subtitle m-0">Notre département d'ophtalmologie fournit des soins complets pour les troubles visuels, utilisant les dernières technologies pour diagnostiquer et traiter les problèmes oculaires afin d'améliorer votre qualité de vision.</p>
                <a href="{{ path('Ophtalmologie')}}" class="cs_iconbox_btn cs_center">
                  <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                  <img src="/templatefront/assets/img/icons/arrow_white.svg" alt="Icon">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Departments -->
    <div class="cs_height_140 cs_height_xl_100 cs_height_lg_60"></div>
    <!-- Start Footer Banner  -->
    <section class="cs_footer_margin_0">
      <div class="container">
        <div class="cs_banner cs_style_6 cs_white_bg cs_radius_30">
          <div class="cs_banner_img"><img src="/templatefront/assets/img/departments/banner_img_2.png" alt=""></div>
          <h2 class="cs_banner_title cs_fs_72">Ne laissez pas votre santé passer au second plan !</h2>
          <p class="cs_banner_subtitle cs_heading_color cs_fs_20 m-0 cs_medium">Prenez rendez-vous avec l'un de nos professionnels de santé expérimentés dès aujourd'hui !</p>
        </div>
      </div>
    </section>
    <!-- End Footer Banner  -->

    <span class="cs_scrollup"><i class="fa-solid fa-arrow-up"></i></span>

    <!-- Script -->
    <script src="assets/js/plugins/jquery-3.6.0.min.js"></script>
    <script src="assets/js/plugins/wow.min.js"></script>
    <script src="assets/js/plugins/slick.min.js"></script>
    <script src="assets/js/plugins/odometer.js"></script>
    <script src="assets/js/plugins/isotope.pkg.min.js"></script>
    <script src="assets/js/plugins/lightgallery.min.js"></script>
    <script src="assets/js/plugins/jquery.timepicker.min.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/ripples.min.js"></script>
    <script src="assets/js/plugins/gsap.min.js"></script>
    <script src="assets/js/plugins/animated-headline.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>




{% endblock %}