{% extends 'layout/base.html.twig' %}
{% import 'layout/macros/form_render.html.twig' as custom_form_render %}

{% block body %}
    <div class="card">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 d-flex justify-content-start">
                            <h1 class="card-title">
                                {% if isNew %}
                                    Create new
                                {% else %}
                                    Edit
                                {% endif %} user
                            </h1>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <a href="{{ path('app_users_list') }}" class="btn btn-warning ml-2"><i
                                        class="fa fa-arrow-left" aria-hidden="true"></i> Return</a>
                        </div>
                    </div>
                    <hr/>

                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="row">
                            {{ custom_form_render.row_text(form.username, "col-md-4 col-12 mt-3") }}
                            {{ custom_form_render.row_text(form.firstName, "col-md-4 col-12 mt-3") }}
                            {{ custom_form_render.row_text(form.lastName, "col-md-4 col-12 mt-3") }}
                        </div>
                        <div class="row">
                            {{ custom_form_render.row_text(form.phoneNumber, "col-md-4 col-12 mt-3") }}
                            {{ custom_form_render.row_select(form.role, 'col-md-4 col-12 mt-3') }}
                        </div>

                        <div class="row  mt-3" id="websites-container" {% if form.role.vars.value == constant('App\\Enum\\UserRole::ROLE_ADMIN') %} style="display: none"{% endif %}>
                            <label>Websites</label>
                            <div class="col-md-4">
                                {{ form_widget(form.websites) }}
                            </div>
                            <div class="select2-buttons col-3 ml-2">
                                <button type="button" class="select-all-btn btn btn-success">Select All</button>
                                <button type="button" class="deselect-all-btn btn btn-warning ml-2">Deselect All</button>
                            </div>
                        </div>
                        {% if isNew %}
                            <div class="row">
                                {{ custom_form_render.row_password(form.Password.first, 'col-md-4 col-12 mt-3') }}
                                {{ custom_form_render.row_password(form.Password.second, 'col-md-4 col-12 mt-3') }}
                            </div>
                        {% else %}
                            <hr/>
                            <div class="row justify-content-end">
                                {{ custom_form_render.row_switch(form.isEnabled, 'd-flex justify-content-end') }}
                            </div>
                        {% endif %}
                        <div class="row justify-content-center mt-5">
                            <button type="submit" class="btn btn-success col-md-2">
                                {% if isNew %}
                                    Create
                                {% else %}
                                    Edit
                                {% endif %} user
                            </button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            let roleInput = $('#{{form.role.vars.id}}');
            let websiteContainer = $("#websites-container");
            roleInput.on('change', function () {
                if($(this).val() == "{{ constant('App\\Enum\\UserRole::ROLE_ADMIN') }}")
                    websiteContainer.hide()
                else
                    websiteContainer.show()
            })
        });
    </script>
{% endblock %}
